@use "../base/variables" as *;

.btn {
  border-radius: 6px;
  padding-block: 1rem;
  padding-inline: 1rem;

  text-align: center;
  &--secondary {
    background-color: $secondary-color;
  }
  &--primary {
    background-color: $primary-color;
    padding-block: 0.5rem;
    padding-inline: 0.7rem;
    letter-spacing: 1px;
    transition: all ease 0.5s;
    font-size: small;
    font-weight: 600;
    &:hover {
      background-color: $secondary-color;
    }
  }
}
.btn--featured {
  padding-inline: 2rem;
  font-size: $font-small;
  width: 90%;
  align-self: center;
}
.btn--header {
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: rgba($color: $secondary-color, $alpha: 0.2);
    scale: 1.4;
    font-weight: 300;
    color: rgb(80, 77, 102);
  }
}
