$font-small: 1.125rem;
$font-very-small: 0.875rem;
$font-medium: 1.25rem;
$font-large: 1.5rem;
$font-very-large: 4rem;

$primary-color: #ffffff;
$secondary-color: #f2ff93;
$muted-background: #f8f8f8;
$background: #e8e8e8;
