@use "../base/variables" as *;

.header {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  background-color: $primary-color;
  padding-block: 3rem;
  text-transform: uppercase;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  li {
    font-size: $font-very-small;
    margin-right: 1rem;
    font-weight: 500;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 4px;

    transition: all 0.5s ease;
    &:hover {
      background-color: $background;
    }
  }
}
