@use "../base/variables" as *;

.hero {
  padding-top: 4.5rem;
  padding-bottom: 4rem;

  background-color: $primary-color;
  &__top {
    padding-inline: 4rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-end;
  }
  &__title {
    font-size: 5rem;
    font-weight: 400;
    line-height: 100%;
    flex: 1;
    max-width: 600px;
  }
  &__info {
    font-size: $font-medium;
    font-weight: 300;
    max-width: 450px;
    line-height: 160%;
    flex: 1;
  }
  &__bottom {
    width: 100%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }
  &__bottom-line {
    border-radius: 0 0 12px 12px;
    background-color: $secondary-color;
    padding: $font-medium;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: $font-very-small;
  }
  &__corps {
    display: flex;
    justify-content: space-between;
    padding-block: 4rem;
    padding-inline: 8rem;
    align-items: center;
    img {
      height: 60px;
    }
  }
  @media (max-width: 1400px) {
    &__title {
      font-size: 3rem;
    }
    &__info {
      font-size: $font-small;
    }
  }
  @media (max-width: 1100px) {
    &__top {
      padding-inline: 1rem;
      padding-bottom: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__title {
      display: block;
      max-width: 100%;
      margin-bottom: 2rem;
    }
    &__info {
      max-width: 100%;
      display: block;
    }
    &__img {
      width: 100%;

      border-radius: 12px 12px 0 0;
    }
    &__corps {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      gap: 2rem;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
  @media (max-width: 900px) {
    &__corps {
      display: grid;

      width: 100%;
      gap: 2rem;
      padding-inline: 0;
    }
  }
}
