@use "base/reset";
@use "base/variables" as *;
@use "layout/header";
@use "components/buttons";
@use "layout/hero";
@use "layout/services";
@use "layout/featured";
@use "layout/why";
@use "layout/work";
body {
  background-color: $background;
}
.container {
  padding-inline: 4rem;
}
.page__wrapper {
  padding: 2rem;
}
