@use "base/reset";
@use "base/variables" as *;
@use "layout";
@use "components/buttons";

body {
  background-color: $background;
}
.container {
  padding-inline: 4rem;
  @media (max-width: 900px) {
    padding-inline: 1rem;
  }
}
.page__wrapper {
  padding: 2rem;
  @media (max-width: 900px) {
    padding-inline: 1rem;
  }
}
